<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title class="big-text">London's weather</mat-card-title>
    <mat-card-subtitle class="medium-text"
      >Today: July 10, 2020</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <div class="flex-row">
      <div class="temp">
        <span class="big-text">17 C</span>
        <span class="medium-text">Feels like </span>
        <span>12 C</span>
      </div>
      <div class="description">
        <img
          mat-card-image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Tower_Bridge_from_Shad_Thames.jpg/300px-Tower_Bridge_from_Shad_Thames.jpg"
          alt="Photo of London"
          width="30%"
        />
        <p>
          <strong> London is a capital of great britain</strong>
          London is a capital of great britain London is a capital of great
          britain London is a capital of great britain London is a capital of
          great britain
        </p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end"> </mat-card-actions>
</mat-card>
