<div class="example-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form>
    <mat-form-field
      appearance="outline"
      *ngIf="cities.length > 0 && !isLoading"
    >
      <mat-label>Select city</mat-label>
      <mat-select required>
        <mat-option *ngFor="let city of cities" value="{{ city.name }}">{{
          city.label
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <p class="info-text mat-body-1" *ngIf="cities.length <= 0 && !isLoading">
    No cities added yet!
  </p>
  <app-city></app-city>
</div>
