<app-header></app-header>
<main>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="content" *ngIf="!isLoading">
    <span *ngIf="!isCitySelected">Please choose the city to start</span>
    <mat-form-field class="city-selector">
      <mat-label>Select city</mat-label>
      <mat-select [formControl]="cityControl">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <router-outlet></router-outlet>
  </div>
</main>
